<!DOCTYPE html>
<html>
   <div th:replace="~{/includes/CommonHead}"></div>
   <body class="sub_page">
      <div class="hero_area">
         <!-- header section strats -->
		 <div th:replace="~{/includes/header}"></div>
         <!-- end header section -->
      </div>
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>Items in your cart</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- product section -->
      <section class="product_section layout_padding">
         <div class="container"style="max-width: 650px;">
            <!--div class="heading_container heading_center">
               <h2>
                  <span>Product Details</span>
               </h2>
            </div-->
            <div class="product_details">
               
				<div th:each="item, iterStat : ${cartItemList}">
                  <div class="box">
                     <div class="img-box">
                        <img th:src="@{'images/p' + ${item.id}} +'.png'" alt="">
                     </div>
					 <div class="detail-box">
                         <h5><span th:text="${item.name}"></span></h5>
                         <h6> ₹<span th:text="${item.price}"></span></h6>
						 <h6> Quantity <span th:text="${cartItem.get(item.id)}"></span></h6>
                      </div>
                     
                  </div>
               </div>
			   
			   <div style="margin-top: 20px; font-size: 20px; font-weight: bold;">
					Total Amount: ₹<span th:text="${totalPrice}"></span>
			   </div>
			   
            </div>
			<form action="/address" method="post">
				<input type="hidden" id="amount" name="amount" th:value="${totalPrice}">
	            <button class="btn  my-2 my-sm-0" type="submit" style="margin-left: 140px;">
				   <i class="fa check-out-button" aria-hidden="true"> Proceed to check out </i>
			   </button>
			</form>
         </div>
      </section>
      <!-- end product section -->
      <!-- footer section -->
	  <div th:replace="~{/includes/footer :: commonFooter}"></div>
      <!-- footer section -->
      <!-- jQery -->
      <script src="js/jquery-3.4.1.min.js"></script>
      <!-- popper js -->
      <script src="js/popper.min.js"></script>
      <!-- bootstrap js -->
      <script src="js/bootstrap.js"></script>
      <!-- custom js -->
      <script src="js/custom.js"></script>
	  <!-- common js -->
      <script src="js/common.js"></script>
   </body>
</html>