	 <!-- jQery -->
     <script src="http://localhost:8080/js/jquery-3.4.1.min.js"></script>
     <!-- popper js -->
     <script src="http://localhost:8080/js/popper.min.js"></script>
     <!-- bootstrap js -->
     <script src="http://localhost:8080/js/bootstrap.js"></script>
     <!-- custom js -->
     <script src="http://localhost:8080/js/custom.js"></script>
	 <!-- common js -->
	 <script src="http://localhost:8080/js/common.js"></script>
	 <!-- Razorpay js -->
 	 <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  
     